
#root {
  max-width: 1000px;
  
  margin: 40px auto;
  padding: 2rem;
  text-align: center;
  
}
.main_cont{
  display: flex;
  flex-direction: row;
 }
 .signin{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
 }
 .signin > label{
  align-self: start;
 }